body, h1 {
	margin: 0;
	background-color: #2396ED;
	font-family: Poppins, sans-serif
}

header {
	background-color: #2396ED;
	color: #fff;
	padding: 1rem;
	text-align: center;
	margin-bottom: 2rem;
}

main {
	width: 80%;
	margin: auto;
}

form {
	text-align: center;
}


img {
	width: 300px;
}

section {
	/* border: 1px solid #5A6175; */
	box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
	border-radius: 0.5rem;
	margin-bottom: 2rem;
	padding: 1rem;
	background-color: white;
}

h1 {
	background-color: #2396ED;
}

h2 {
	color: black;
	text-align: center;
}
  
form {
	margin-bottom: 1rem;
}

#taskInput {
	height: 2rem;
	width: 60%;
}

button {
	height: 34px;
}

#submit-task {
	height: 40px;
	width: 40px;
	background: #2396ED;
	border: none;
	border-radius: 4px;
	color: white;
	padding: 12px 12px;
	font-size: 16px;
	cursor: pointer;
}

#submit-task:hover {
	background-color: #2477ED;
}

.delete-task-button {
	height: 40px;
	width: 40px;
	background-color: #f55727;
	border: none;
	border-radius: 4px;
	color: white;
	padding: 12px 12px;
	font-size: 16px;
	cursor: pointer;	
}

.delete-task-button:hover {
	background-color: #b02e07;
}

.update-task-button {
	height: 40px;
	width: 40px;
	background: #e6e6e6;
	border: none;
	border-radius: 4px;
	color: white;
	padding: 12px 12px;
	font-size: 16px;
	cursor: pointer;
}

.update-task-button:hover {
	background: #5eba45;
}

.complete-task-button {
	height: 40px;
	width: 40px;
	background: #5eba45;
	border: none;
	border-radius: 4px;
	color: white;
	padding: 12px 12px;
	font-size: 16px;
	cursor: pointer;
}

.complete-task-row{
	background-color: #daf2d3;
	text-decoration: line-through;
}
  
table {
	border-collapse: collapse;
	width: 100%;
}
  
th, td {
	text-align: left;
	padding: 8px;
	color: black;
	font-size: 20px;
}
  
thead tr {
  background-color: #e6e6e6;
  
}

article {
	padding: 30px;
	text-align: center;
	color: gray;
}